/*css component from [FNF]Dragon Engine*/
body{
    margin: 0;
    margin-bottom: 10px;
    background-image: url('/asset/background.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/*== Header ==*/
header.header{
    top: 0;
    z-index: 9999;
    overflow: hidden;
    background-color: var(--background-color);
    height: var(--header-height);
    width: 100vw;
    border-bottom: 2px solid var(--accent-color);
    display: flex;
    gap: 10px;
    align-items: center;
    position: fixed;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--accent-color);
    font-family: var(--font-use);
    word-break: break-word;
}

.ratio{
    aspect-ratio: 16/9;
}

header.header img{
    height: calc(var(--header-height) - 10px);
}

header.header h3{
    margin: 0;
    max-width: 100%;
}

/*== content ==*/
div.content{
    padding-top: calc(var(--header-height) + 15px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*== dialogue ==*/
div.dialogue{
    width: 75%;
    background-color: var(--background-color);
    overflow: hidden;
    overflow-wrap: break-word;
    border-radius: 15px;
}

div.dialogue div.dialogue_title{
    height: auto;
    min-height: 40px;
    margin: 0;
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    font-family: var(--font-use);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

div.dialogue div.dialogue_title h3{
    font-size: 1.5rem;
    max-width: 100%;
    margin: 0;
}

div.dialogue div.dialogue_content{
    margin: 0;
    font-family: var(--font-use);
    color: var(--accent-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

div.dialogue div.dialogue_content h3{
    font-size: 1.25rem;
    max-width: 100%;
    margin: 0;
}

div.dialogue div.dialogue_content h3 a{
    margin: 0;
    color: var(--secondary-accent-color);
    text-decoration: none;
}

div.dialogue div.dialogue_content h3 a:hover{
    color: var(--third-accent-color);
    text-decoration: none;
}


div.sidebar a.dialogue_link, div.dialogue a.dialogue_link{
    border: 1px solid var(--accent-color);
    text-decoration: none;
    color: var(--accent-color);
    padding: 10px;
    border-radius: 15px;
    max-width: 100%;
}

div.sidebar a.dialogue_link:hover, div.dialogue a.dialogue_link:hover{
    color: var(--secondary-accent-color);
    border: 1px solid var(--secondary-accent-color);
}


div.dialogue a.button{
    padding: 10px;
    background-color: var(--button-color);
    width: fit-content;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: var(--font-use);
}
div.dialogue a.button:hover{
    background-color: var(--button-color-hover);
}

div.dialogue div.dialogue_wrap{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

div.dialogue div.character, div.dialogue div.character_s{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 175px;
    border-radius: 15px;
    border: 5px solid var(--accent-color);
    padding: 10px;
}

div.dialogue div.character:hover{
    border: 5px solid var(--secondary-accent-color);
    color: var(--secondary-accent-color);
}

div.dialogue div.character img{
    width: 100%;
}
div.dialogue div.character h3{
    max-width: 100%;
}

div.dialogue div.dialogue_content button.dialogue_button{
    border: none;
    padding: 10px;
    background-color: var(--button-color);
    width: fit-content;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: var(--font-use);
}

div.dialogue_group{
    min-width: 25%;
    max-width: 75%;
    border: 1px solid var(--accent-color);
    padding: 10px;
    border-radius: 15px;
}

div.dialogue_group h3{
    margin: 0;
}

div.dialogue_group h4{
    margin: 0;
    color: var(--secondary-accent-color);
}

div.dialogue_group a{
    color: var(--accent-color);
    text-decoration: none;
}


div.dialogue div.dialogue_content button.dialogue_button:hover{
    background-color: var(--button-color-hover);
}

div.dialogue_button_group{
    display: flex;
    gap:10px;
}

/*== sidebar ==*/
div.sidebar{
    z-index: 9998;
    top: calc(var(--header-height) + 2px);
    position: fixed;
    width: 250px;
    max-width: 75%;
    left: -252px;
    height: calc(100vh - calc(var(--header-height) + 2px));
    background-color: var(--background-color);
    border-right: 2px solid var(--accent-color);
    transition: left 0.25s ease-out;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-family: var(--font-use);
    color: var(--accent-color);
    gap: 10px;
    overflow-wrap: break-word;
    padding: 10px;
    box-sizing: border-box;
}

div.sidebar.open{
    left: 0;
    transition: left 0.25s ease-in;
}

/*== other ==*/


.border_accent{
    border: 2px solid var(--accent-color);
    border-radius: 15px;
}

a.bottomleft_button{
    bottom: 10px;
    left: 10px;
    position: fixed;
}
a.button{
    text-align: center;
    text-decoration: none;
    color: var(--accent-color);
    font-family: var(--font-use);
    background-color: var(--button-color);
    padding: 10px;
}

a.button:hover{
    background-color: var(--button-color-hover);
}

/*== textarea ==*/
div.dialogue textarea{
    resize: vertical;
    width: 75%;
    min-height: 100px;
    border-color: var(--accent-color);
    background-color: var(--background-color);
    color: var(--accent-color);
    border-width: 2px;
}

div.dialogue textarea:focus{
    border-color: var(--secondary-accent-color);
    color: var(--secondary-accent-color);
}

iframe#preview{
    background-color: white;
}


:root{
    --accent-color: #f0f;
    --secondary-accent-color: #0f0;
    --third-accent-color: #0ff;
    --header-height: 50px;
    --background-color: #111;
    --button-color: #222;
    --button-color-hover: #333;
    --font-use: 'Mojangles', 'Arial';
}

:root{
    scrollbar-color: var(--accent-color) var(--background-color);
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Mojangles';
    src: url(asset/Mojangles.ttf);
}