body{
    margin: 0;
    margin-bottom: 10px;
    background-image: linear-gradient(45deg, var(--accent-color), var(--background-color));
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body, html{
    font-family: var(--font-use);
}

/*== Header ==*/
header.header{
    top: 0;
    z-index: 9999;
    overflow: hidden;
    background-color: var(--background-color);
    height: var(--header-height);
    width: 100vw;
    border-bottom: 2px solid var(--accent-color);
    display: flex;
    gap: 10px;
    align-items: center;
    position: fixed;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--accent-color);
    word-break: break-word;
}

.ratio{
    aspect-ratio: 16/9;
}

header.header img{
    height: calc(var(--header-height) - 10px);
}

header.header h3{
    margin: 0;
    max-width: 100%;
}

/*== content ==*/
div.content{
    padding-top: calc(var(--header-height) + 15px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: calc(100vh - 15px);
    justify-content: center;
}

/*== dialogue ==*/
div.dialogue{
    width: 75%;
    background-color: var(--background-color);
    overflow: hidden;
    overflow-wrap: break-word;
    border-radius: 15px;
}

div.dialogue div.dialogue_title{
    height: auto;
    min-height: 65px;
    margin: 0;
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

div.dialogue div.dialogue_title h3{
    font-size: 1.5rem;
    max-width: 100%;
    margin: 0;
}

div.dialogue div.dialogue_content{
    margin: 0;
    color: var(--accent-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

div.dialogue div.dialogue_content h3{
    font-size: 1.25rem;
    max-width: 100%;
    margin: 0;
}

div.dialogue div.dialogue_content h3 a{
    margin: 0;
    color: var(--secondary-accent-color);
    text-decoration: none;
}

div.dialogue div.dialogue_content h3 a:hover{
    color: var(--third-accent-color);
    text-decoration: none;
}


div.sidebar a.dialogue_link, div.dialogue a.dialogue_link{
    border: 1px solid var(--accent-color);
    text-decoration: none;
    color: var(--accent-color);
    padding: 10px;
    border-radius: 15px;
    max-width: 100%;
}

div.sidebar a.dialogue_link:hover, div.dialogue a.dialogue_link:hover{
    color: var(--secondary-accent-color);
    border: 1px solid var(--secondary-accent-color);
}

div.dialogue a.button{
    padding: 10px;
    background-color: var(--button-color);
    width: fit-content;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
div.dialogue a.button:hover{
    background-color: var(--button-color-hover);
}

div.dialogue div.dialogue_wrap{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

div.dialogue div.character, div.dialogue div.character_s{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 175px;
    border-radius: 15px;
    border: 5px solid var(--accent-color);
    padding: 10px;
}

div.dialogue div.character:hover{
    border: 5px solid var(--secondary-accent-color);
    color: var(--secondary-accent-color);
}

div.dialogue div.character img{
    width: 100%;
}
div.dialogue div.character h3{
    max-width: 100%;
}

div.dialogue div.dialogue_content button.dialogue_button{
    border: none;
    padding: 10px;
    background-color: var(--button-color);
    width: fit-content;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

div.dialogue_group{
    min-width: 25%;
    max-width: 75%;
    border: 1px solid var(--accent-color);
    padding: 10px;
    border-radius: 15px;
}

div.dialogue_group h3{
    margin: 0;
}

div.dialogue_group h4{
    margin: 0;
    color: var(--secondary-accent-color);
}

div.dialogue_group a{
    color: var(--accent-color);
    text-decoration: none;
}

div.dialogue_group code{
    color: var(--third-accent-color);
    text-decoration: underline;
}

div.dialogue div.dialogue_content button.dialogue_button:hover{
    background-color: var(--button-color-hover);
}

div.dialogue_button_group{
    display: flex;
    gap:10px;
}

/*== sidebar ==*/
div.sidebar{
    z-index: 9998;
    top: var(--header-height);
    position: fixed;
    width: 250px;
    max-width: 75%;
    left: -250px;
    height: calc(100vh - var(--header-height));
    background-color: var(--background-color);
    border-right: 2px solid var(--accent-color);
    transition: left 0.25s ease-in;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    color: var(--accent-color);
    gap: 10px;
    overflow-wrap: break-word;
    padding: 10px;
}

div.sidebar.open{
    left: 0;
    transition: left 0.25s ease-out;
}

/*== other ==*/

iframe.fnfhtml{
    aspect-ratio: 16/9;
    background-color: black;
}

.border_accent{
    border: 2px solid var(--accent-color);
    border-radius: 15px;
}

a.bottomleft_button{
    bottom: 10px;
    left: 10px;
    position: fixed;
}
a.button{
    text-align: center;
    text-decoration: none;
    color: var(--accent-color);
    background-color: var(--button-color);
    padding: 10px;
}

a.button:hover{
    background-color: var(--button-color-hover);
}

:root{
    --accent-color: #f00;
    --secondary-accent-color: #0ff;
    --third-accent-color: #0f0;
    --header-height: 50px;
    --background-color: #000;
    --button-color: #222;
    --button-color-hover: #333;
    --font-use: 'Mojangles', 'Arial';
}

:root{
    scrollbar-color: var(--accent-color) var(--background-color);
    scroll-behavior: smooth;
}

@media screen and (max-width: 639px) {
    div.dialogue{
        width: 95%;
    }
    header.header h3{
        display: none;
    }
    header.header{
        justify-content: center;
    }
    div.sidebar{
        left: 0;
        top: -300px;
        height: 300px;
        max-height: calc(65% - var(--header-height));
        width: 100%;
        max-width: 100%;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        transition: top 0.25s ease-in;
        border-right: none;
        border-bottom: 2px solid var(--accent-color);
    }
    div.sidebar.open{
        top: var(--header-height);
        transition: top 0.25s ease-out;
    }
    div.dialogue_group{
        max-width: 95%;
    }
}

@media (prefers-color-scheme: light) {
    :root{
        --background-color: #fff;
        --accent-color: #800;
        --secondary-accent-color: #08f;
        --third-accent-color: #080;
        --button-color: #999;
        --button-color-hover: #888;
    }
}

@media(prefers-color-scheme: dark) {
    header.header img{
        filter: drop-shadow(0 0 2.5px var(--accent-color));
    }
}

@font-face {
    font-family: 'Mojangles';
    src: url(/asset/Mojangles.ttf);
}

*, *::before, *::after {
    box-sizing: border-box;
}